<nav class="navbar navbar-expand-lg navbar-dark fixed-top sport-navbar">
  <a class="navbar-brand" [routerLink]="root">
    <img src="/assets/logo.png" width="40" height="45" class="d-inline-block align-top" alt="">
    Sport Shop
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <div class="navbar-nav" *ngIf="!currentUser || currentUser.role == Role.Customer">

      <a class="nav-item nav-link" routerLink="/category/0">
        Badminton
      </a>
      <a class="nav-item nav-link" routerLink="/category/1">
        Table Tennis
      </a>
      <a class="nav-item nav-link" routerLink="/category/2">
        Football
      </a>
      <a class="nav-item nav-link" routerLink="/category/3">
        Special
      </a>

    </div>

    <div class="navbar-nav ml-auto">
      <a *ngIf="!currentUser || currentUser.role == Role.Customer" class="nav-item nav-link" routerLink="/cart">
        <i class="fas fa-shopping-cart"></i>
        Cart
      </a>

      <ng-container *ngIf="currentUser; else noUser">
        <a *ngIf="currentUser.role == Role.Manager" class="nav-item nav-link" routerLink="/seller/product/new">
          Add Product
        </a>
        <a class="nav-item nav-link" routerLink="/order">
          <i class="fas fa-list-ul"></i>
          Orders
        </a>
        <a class="nav-item nav-link" routerLink="/profile">
          {{name}}
        </a>
        <a class="nav-item nav-link" (click)="logout()" routerLink="/login" [queryParams]="{logout: true}">
          Sign Out
        </a>
      </ng-container>
      <ng-template #noUser>
        <a class="nav-item nav-link login" routerLink="/login">
          Sign In
        </a>
        <a class="nav-item nav-link" routerLink="/register">
          Sign Up
        </a>
      </ng-template>

    </div>
  </div>
</nav>  

<section class="slider2 cid-sglkVxQRxA" id="slider2-v">
  <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-12">
              <div class="carousel slide" id="shwtnjuVnZ" data-ride="carousel" data-interval="5000">

                  <ol class="carousel-indicators">
                      <li data-slide-to="0" class="active" data-target="#shwtnjuVnZ"></li>
                      <li data-slide-to="1" data-target="#shwtnjuVnZ"></li>
                      <li data-slide-to="2" data-target="#shwtnjuVnZ"></li>
                  </ol>
                  <div class="carousel-inner">
                      <div class="carousel-item slider-image item active">
                          <div class="item-wrapper">
                              <img class="d-block w-100" src="/assets/01.jpg">
                              <div class="carousel-caption d-none d-md-block">
                                  <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                                  </h5>
                                  <p class="mbr-section-text mbr-fonts-style display-7">
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item slider-image item">
                          <div class="item-wrapper">
                              <img class="d-block w-100" src="/assets/02.jpg" data-slide-to="1">
                              <div class="carousel-caption d-none d-md-block">
                                  <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                                      <strong></strong>
                                  </h5>
                                  <p class="mbr-section-text mbr-fonts-style display-7">
                                      </p>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item slider-image item">
                          <div class="item-wrapper">
                              <img class="d-block w-100" src="/assets/03.jpg" data-slide-to="2">
                              <div class="carousel-caption d-none d-md-block">
                                  <h5 class="mbr-section-subtitle mbr-fonts-style display-5">
                                      <strong></strong>
                                  </h5>
                                  <p class="mbr-section-text mbr-fonts-style display-7">
                                      </p>
                              </div>
                          </div>
                      </div>

                  </div>
                  <a class="carousel-control carousel-control-prev" role="button" data-slide="prev"
                      href="#shwtnjuVnZ">
                      <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control carousel-control-next" role="button" data-slide="next"
                      href="#shwtnjuVnZ">
                      <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
