/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #00ff0d;
}

.ng-touched.ng-invalid:not(form)  {
    border-left: 5px solid #ff0400;
}
body {
    width: 100%;
    background-color: rgb(236, 236, 236);
}


.product-container{
    position: relative;
}
.product-card {
    max-width: 12em;
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 5px 5px #e1e1e1;
    font-family: Arial, Helvetica, sans-serif;
  }
.product-card img {
    max-width: 100%;
}
  .product-card h4 {
    font-size: 1.3em;
    margin: 0.5em 0;
  }
  .product-card div {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product-card button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 1em;
  }
  .product-card:hover {
    background-color: lightslategray;
    color: #fff;
  }
  .product-card:hover button {
    color: #000;
    background-color: #fff;
  }
  @media screen and (max-width: 576px) {
    .product-card {
      font-size: 0.9em;
    }
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: blue;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: inherit;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }